.App {
  text-align: center;
}

@media (min-width: 400px) and (max-width: 412px){
  #Aa{
    width: 414px;
    height: 300px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -11rem;
    margin-left: 4rem;
  }
  #p2{
    color: white;
    width: 70%;
    height: 100%;
    margin-left: 4.5rem;
  }
  #Ua{
    width: 330px;
    height: 550px;
    margin-right: 100px;
    margin-left: 2rem;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 4rem;
  }
}

@media (width:540px) and (height:720px){
  #Aa{
    width: 540px;
    height: 300px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -11rem;
    margin-left: 7rem;
  }
  #p2{
    color: white;
    width: 50%;
    height: 100%;
    margin-left: 8rem;
  }
  #Ua{
    width: 330px;
    height: 550px;
    margin-right: 100px;
    margin-left: 5rem;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 4rem;
  }
}

@media (width:1280px) and (height:800px){
  #header{
    display: flex;
  }
  #Aa{
    width: 1280px;
    height: 400px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -17rem;
    margin-left: 30rem;
    flex-direction: column;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
  }
  #Ua{
    width: 1150px;
    height: 500px;
    margin-right: 100px;
    margin-left: 2.5rem;
    margin-bottom: 20rem;
  }
  #con{
    display: flex;
  }
  #dpi{
    display: flex;
  }
}

@media (width:1024px) and (height:600px){
  #Aa{
    width: 1024px;
    height: 400px;
  }
  header{
    display: flex;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 23rem;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
  }
  #Ua{
    width: 980px;
    height: 550px;
    margin-right: 100px;
    margin-left: 0.5rem;
    margin-bottom: 20rem;
  }
  #con{
    display: flex;
  }
  #dpi{
    display: flex;
  }
}

@media (min-width:1024px) and (max-width:1025px){
  #Aa{
    width: 1020px;
    height: 400px;
  }
  header{
    display: flex;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 23rem;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
  }
  #Ua{
    width: 980px;
    height: 550px;
    margin-right: 100px;
    margin-bottom: 20rem;
  }
  #con{
    display: flex;
  }
  #dpi{
    display: flex;
  }
}

@media(max-width:344px){
  html,body{
    overflow-x: hidden;
  }
  #Aa{
    width: 280px;
    height: 300px;
  }
  #p1{
    color: white;
    width: 50%;
    height: 100%;
    margin-top: -11rem;
    margin-left: 3rem;
  }
  #p2{
    color: white;
    width: 50%;
    height: 100%;
    margin-left: 3rem;
  }
  #Ua{
    width: 250px;
    height: 550px;
    margin-right: 100px;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    height: 30px;
    width: 100px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 2rem;
  }
}

@media (min-width:345px) and (max-width:360px){
  html,body{
    overflow-x: hidden;
  }
  #Aa{
    width: 360px;
    height: 300px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -11rem;
    margin-left: 2rem;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
  }
  #Ua{
    width: 330px;
    height: 550px;
    margin-right: 100px;
    margin-left: 0.5rem;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 4rem;
  }
}

@media (min-width:361px) and (max-width: 376px) {
  html,body{
    overflow-x: hidden;
  }
  #Aa{
    width: 376px;
    height: 400px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 2rem;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
  }
  #Ua{
    width: 330px;
    height: 550px;
    margin-right: 100px;
    margin-left: 0.5rem;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 4rem;
  }

}

@media (min-width: 377px) and (max-width: 411px) {
  #Aa{
    width: 400px;
    height: 400px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 2rem;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
  }
  #Ua{
    width: 330px;
    height: 550px;
    margin-right: 100px;
    margin-left: 0.5rem;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 4rem;
  }
}
@media (min-width:413px) and (max-width:539px){
  #Aa{
    width: 440px;
    height: 400px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 3rem;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
    margin-left: 0.5rem;
  }
  #Ua{
    width: 330px;
    height: 550px;
    margin-right: 100px;
    margin-left: 2rem;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 4rem;
  }
}
@media (width:768px) and (height:1024px){
  body{
    overflow-x: hidden;
  }
  header{
    display: flex;
    overflow-x: hidden;
  }
  #Aa{
    height: 400px;
    width: 700px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 13rem;
  }
  #p2{
    color: white;
    width: 90%;
    height: 100%;
  }
  #Ua{
    width: 500px;
    height: 550px;
    margin-right: 100px;
    margin-left: 5rem;
    margin-bottom: 20rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 1rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 4rem;
  }
}

@media (min-width: 769px) and (max-width: 819px) {
  body{
    overflow-x: hidden;
  }
  #Aa{
    height: 400px;
    min-width: 768px;
    max-width: 819px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 14rem;
    flex-direction: column;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
  }
  #Ua{
    width: 650px;
    height: 550px;
    margin-right: 100px;
    margin-left: 2.5rem;
    margin-bottom: 20rem;
  }
  #dpi{
    margin-top: 1.5rem;
    margin-left: 3rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 8rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 14rem;
  }
}

@media (min-width: 541px) and (max-width: 767px) {
  body{
    overflow-x: hidden;
  }
  #Aa{
    height: 400px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 14rem;
    flex-direction: column;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
  }
  #Ua{
    width: 600px;
    height: 550px;
    margin-right: 100px;
    margin-left: 2.5rem;
    margin-bottom: 20rem;
  }
  #dpi{
    margin-top: 1.5rem;
    margin-left: 3rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 8rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 14rem;
  }
}

@media (min-width: 820px) and (max-width: 911px) {
  body{
    overflow-x: hidden;
  }
  #header{
    display: flex;
  }
  #Aa{
    height: 400px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 14rem;
    flex-direction: column;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
  }
  #Ua{
    width: 700px;
    height: 550px;
    margin-right: 100px;
    margin-left: 2.5rem;
    margin-bottom: 20rem;
  }
  #dpi{
    margin-top: 1.5rem;
    margin-left: 6rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 8rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 17rem;
  }
}

@media (min-width: 912px) and (max-width: 1023px) {
  body{
    overflow-x: hidden;
  }
  #header{
    display: flex;
  }
  #Aa{
    height: 400px;
    width: 910px;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -13rem;
    margin-left: 14rem;
    flex-direction: column;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
  }
  #Ua{
    width: 800px;
    height: 550px;
    margin-right: 100px;
    margin-left: 2.5rem;
    margin-bottom: 20rem;
  }
  #dpi{
    margin-top: 1.5rem;
    margin-left: 6rem;
  }
  #custom{
    margin-top: 1.5rem;
    margin-left: 8rem;
    height: 30px;
  }
  #buttons{
    margin-top: 1rem;
    margin-left: 17rem;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  body{
    overflow-x: hidden;
  }
  #header{
    display: flex;
  }
  #p1{
    color: white;
    width: 100%;
    height: 100%;
    margin-top: -17rem;
    margin-left: 22rem;
    flex-direction: column;
  }
  #p2{
    color: white;
    width: 100%;
    height: 100%;
  }
  #Ua{
    width: 900px;
    height: 550px;
    margin-right: 100px;
    margin-left: 2.5rem;
    margin-bottom: 20rem;
  }
  #con{
    display: flex;
  }
  #dpi{
    display: flex;
  }
}

